.section-intro-header {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-wrap: balance;
}

.section-intro-package-name {
  margin: 16px 16px 0px 16px;
  font-weight: 900;
  font-size: 32px;
}

.section-intro-package-description {
  font-size: 16px;
  font-weight: 300;
  padding: 0 16px;
  margin: 0;
}

.section-intro-package-install-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.section-intro-package-install {
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border: 1px dashed black;
}

.section-intro {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.section-intro-example {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

.section-bg-dark {
  background-color: #f5f5f5;
}

.section-extra {
  padding: 32px 0;
}

.section-extra-title {
  margin: 16px 16px 0px 16px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  text-wrap: balance;
}

.graph-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-example-content {
  overflow: auto;
  display: flex;
  gap: 32px;
  padding: 16px;
  justify-content: center;
}

.graph-example-code-wrapper {
  border: 1px dashed black;
  padding: 16px;
  overflow: auto;
  width: 300px;
  max-height: calc(400px - 32px);
}

@media only screen and (max-width: 800px) {
  .graph-example-content {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .graph-example-code-wrapper {
    width: 300px;
  }
}

.graph-example-code {
  white-space: pre;
  display: block;
  word-break: keep-all;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  font-family: Monospace;
  font-size: 12px;
}

.graph-example-graph {
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.bottom-info-code-links,
.bottom-info-github-link,
.bottom-info-more-examples-info {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.bottom-info-code-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 32px;
  column-gap: 32px;
  row-gap: 16px;
}

.graph-example-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

.graph-button {
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
}

.graph-button:hover {
  background-color: rgb(244, 244, 244);
}

.graph-button:active {
  transform: translateY(1px);
}